@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    background-color: #141414;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;   
}

h1 {
    font-family: 'Titillium Web';
}

h2 {
    color: white;
    font-family: 'Titillium Web';
}

header{
    background-image: linear-gradient(to top, #141414, black);
    width: 100vw;
}

header img {
    height: 31px;
    width: 92px;
    margin-left: 3em;
    margin-top: 1.5em;
    background-color: transparent;
}

section h1 {
    color: white;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;  
    margin-top: 2em;
    letter-spacing: 2px;
    min-width: 500px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row bottom; 
    max-width: 1000px;
    min-width: none;
    margin: 3em auto;
    margin-top: 5em;
    justify-content: space-between;
}

.users img {
    border-radius: 8px; 
    border: inset 3px transparent;
}

.users p:hover {
    color: white;
}

.users:hover  img {
    color: white;   
    border: 3px solid white;
}

.users:hover p {
    color: white;
}

.users {
    width: 200px;
}

.users p {
    color: grey;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: 'Titillium Web';  
    font-weight: 600; 
}

a{
    text-decoration: none;
    background-color: transparent; 
}

.manage {
    color: rgb(145, 145, 145);
    font-size: 23px;
    margin: 2em 0 1em 0;
    text-align: center;
    border: 1px solid grey;
    margin: 0em auto;
    padding: 25px 10px 25px 10px ;
    width: 250px;
    letter-spacing: 2px;
    position: relative;
}

.manage:hover {
    color: white;
    border: 1px solid white;
}

@media (max-width: 650px){
    section h1 {
        font-size: 20px;
        text-align: center;
    } 
}

@media (max-width: 1100px){  
     
    header {
        width: 100vw;
    }

    html, body {
        overflow-x: hidden;       
    }
    
    section {
        height: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
    }

    section img {
        height: 60%;
        width: 60%;
    }

    .coluna1{
        width: 50%;
        height: 50%;
        text-align: center;
    }

    .coluna2 {
        width: 50%;
        height: 50%;
        text-align: center;
    }
}